.ant-modal .ant-modal-body .field-add-institution {

    > .ant-row {
        &:last-child {
            margin-top: auto;
            margin-bottom: 0;

            .submit-btn {
                margin-top: 10px;
                margin-left: auto;
            }
        }
    }

    .requirements {
        
        .requierment-field {
            display: inline-flex;
            justify-content: space-between;
            width: 100%;

            > div {
                flex: 1;
                display: grid;
                grid-template-columns: 197px auto auto 55px;
                margin-bottom: 24px;
                align-items: center;
                direction: rtl;

                > span {
                    text-align: right
                }
            }

        }

        .selector {
            .ant-form-item-control {
                flex: 1;
            }
        }
    }
}